{% extends "_layout.twig" %}

{% block content %}
<div>
    <ul class="nav nav-pills">
        {% for item in submenu %}
            <li class="nav-item">
                <a class="nav-link {{ current_route == item.url ? 'active' : '' }}" 
                   href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{# Место для контента дочерних шаблонов #}
{% block objectContent %}

{% endblock %}
{% endblock %}