{% extends "_object.twig" %}
{% block objectContent %}
    <div class="container mt-2 justify-content-center" style="border: 1px solid black;">
    Соба́ка, или дома́шняя соба́ка(лат. Canis familiaris, или лат. Canis lupus familiaris), — домашнее животное, одно из наиболее популярных (наряду с кошкой) животных-компаньонов.
    С зоологической точки зрения, собака — плацентарное млекопитающее отряда хищных семейства псовых. Домашняя собака была описана как самостоятельный биологический вид Canis familiaris Линнеем в 1758 году; в настоящее время данное научное название признаётся организациями, такими как Американское общество маммалогов. Некоторые источники (например, ITIS и MSW3) признают собаку подвидом волка (Canis lupus familiaris).
    Собаки известны своими способностями к обучению, любовью к игре, социальным поведением. Выведены специальные породы собак, предназначенные для различных целей: охоты, охраны, тяги гужевого транспорта и другого, а также декоративные породы (например, болонка, пудель).
    В русскоязычных письменных источниках слово «собака» в значении соответствующего животного встречается по крайней мере с 1475 года (начиная с грамоты князя Андрея Васильевича Меньшого Кириллову монастырю). При необходимости разграничения собак по полу употребляются термины «кобе́ль» (самец) и «су́ка» (самка); в обиходной речи — «пёс» и «собака», соответственно. Детёныши собаки называются «щенками» или «кутятами».
</div>
{% endblock %}