{% extends "_object.twig" %}
{% block objectContent %}
    <div class="container mt-2 justify-content-center d-flex align-items-center" style="border: 1px solid black;">
    <div class="container mt-2">
        <img src="{{ image }}" style="width: 500px; height: 500px;" alt="" >
    </div>
</div>
{% endblock %}