{% macro btn(text, url, is_active, style) %}
    <a href="{{ url }}" class="btn btn-{% if not is_active %}link{% else %}{{ style|default('primary') }}{% endif %}">
        {{ text }}
    </a>
{% endmacro %}