{% extends "_layout.twig" %}
{% import "macros.twig" as macros %}
{% block content %}
<pre>
<div class="animal-row" style="
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    gap: 20px;       
    justify-content: center; 
">
  {% for object in animals %}
  <div class="animal-container" style="
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    width: 250px;  
  ">
    <div style="
      border: 1px solid black;
      display: flex;
      justify-content: center;
      width: 100%;
    ">
      <img src="{{ object.image }}" style="
        width: 220px;
        height: 190px;
        object-fit: cover; 
      ">
    </div>
    {{ macros.btn(object.title, "/animal/" ~ object.id, True, style|default('primary')) }}
    {{ macros.btn("Картинка",  "/animal/" ~ object.id  ~ "/image", False, style|default('primary')) }}
    {{ macros.btn("Описание",  "/animal/" ~ object.id ~ "/info", False, style|default('primary')) }}
  </div>
  {% endfor %}
</div>
</pre>
{% endblock %}